@charset "utf-8";
* {
    /*outline: 1px solid lightgrey;*/
}

#loginArea {
    padding-top: 200px;
}

table {
    text-align: center;
    margin: auto;
    padding-top: 15%;
}

#message {
    margin: 10px 0;
    color: red;
}

#image {
    width: 150px;
}
#login {
    cursor: pointer;
}
